.main {
  display: flex;
  gap: 24px;
  justify-content: center;
  padding: 24px 0;
}

.cardsBox {
  flex: 1;
  min-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

@media (max-width: 900px) {
  .main {
    flex-direction: column;
  }

  .main div {
    width: 100%;
  }

  .cardsBox {
    min-width: unset;
    width: 100%;
  }
}
