.pixels-top {
  position: absolute;
  z-index: 0;
  top: 0;
  right: 0;
}

.pixels-bottom {
  position: absolute;
  z-index: 0;
  left: 0;
  bottom: -7;
}

.save-money {
  position: absolute;
  z-index: 1;
  left: 0;
  bottom: 18;
}

.today {
  display: flex;
  flex-direction: column;
  gap: 48px;
  width: 50%;
  margin-top: var(--spacing-large);
  z-index: 1;
}

.balance {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-medium);
  width: 50%;
  margin-top: var(--spacing-large);
  z-index: 1;
}

.divider {
  border-bottom-width: 2px !important;
  width: 60%;
  border-color: var(--common-white) !important;
}

@media (max-width: 490px) {
  .today {
    width: 100%;
    text-align: center;
  }

  .balance {
    width: fit-content;
  }

  .divider {
    width: 100%;
  }
}
