html,
body {
  height: 100%;
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background: var(--background-default-color);
  background-repeat: no-repeat;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.header {
  height: 96px;
  background-color: #000;
}
